.div {
  padding: 40px 6% 0px 6%;
}
.footer {
  background-color: #191a23;
  padding: 40px 5%;
  border-radius: 40px 40px 0 0;
  &_heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    &_ul {
      display: flex;
      gap: 40px;
      align-items: center;
      &_list {
        list-style-type: none;
      }
      &_link {
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
    &_icons {
      display: flex;
      gap: 30px;
    }
  }
  &_description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    border-bottom: 1px solid white;
    padding: 0 0 20px 0;
    &_title {
      background-color: #b9ff66;
      border-radius: 4px;
      padding: 2px;
    }
    &_text {
      margin-top: 20px;
      margin-bottom: 25px;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
    }
    &_box {
      padding: 50px 50px;
      background-color: #292a32;
      border-radius: 10px;

      &_input {
        padding: 12px 25px;
        border-radius: 10px;
        border-color: #fff;
        background-color: #292a32;
      }
      &_button {
        padding: 14px 25px;
        margin-left: 20px;
        cursor: pointer;
        border-radius: 10px;
        background-color: #b9ff66;
        border: none;
      }
    }
  }
  &_bottom {
    display: flex;
    gap: 40px;
    &_text {
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
